/*----------------------------------
        General styles
------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /*Font family*/
    --global--font-primary: 'Overpass', sans-serif;
    --global--font-secundary: 'Ubuntu', sans-serif;
    /* Font Size*/
    --global--font-size-base: 1rem;
    --global--font-size-xs: 0.875rem;
    --global--font-size-sm: 1rem;
    --global--font-size-md: 1.1rem;
    --global--font-size-lg: 1.125rem;
    --global--font-size-xl: 1.75rem;
    --global--font-size-xxl: 2.5rem;
    --global--font-size-xxxl: 3.5rem;
    /* Headings */
    --heading--font-family: var(--global--font-primary);
    --heading--font-size-h6: var(--global--font-size-xs);
    --heading--font-size-h5: var(--global--font-size-sm);
    --heading--font-size-h4: var(--global--font-size-lg);
    --heading--font-size-h3: calc(1.25 * var(--global--font-size-lg));
    --heading--font-size-h2: var(--global--font-size-xl);
    --heading--font-size-h1: var(--global--font-size-page-title);

    /* Colors */

    --white: #ffffff;
    --black: #000000;

    /*Primary Colors*/

    --light_red: hsl(356, 100%, 66%);
    --very_light_red: hsl(355, 100%, 74%);
    --very_dark_blue: hsl(208, 49%, 24%);

    /*Gradiant Colors*/

    --light_red_gradiant: hsl(353, 100%, 62%);
    --very_light_red_gradiant: hsl(13, 100%, 72%);

    --Very_dark_gray_blue: hsl(237, 17%, 21%);
    --Very_dark_desaturated_blue: hsl(237, 23%, 32%);

    /*Neutral Colors*/

    --grey_light: #efeff1;
    --grayish_blue: hsl(240, 2%, 79%);
    --dark_grayish_blue: hsl(207, 13%, 34%);
    --dark_black_blue: hsl(240, 10%, 16%);
}
body {
    font-size: var(--global--font-size-base);
    font-family: var(--global--font-primary);
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    overflow: hidden;

    display: -moz-grid;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3, minmax(200px, auto));
    grid-template-areas:
        'header     header      header'
        'section    section     section'
        'footer     footer      footer';
}
.container-inside {
    width: 100%;
    max-width: 965px;
    margin: auto;
}
.container-section {
    position: relative;
    width: 100%;
    max-width: 1045px;
    margin-left: auto;
}
.img-bg {
    position: absolute;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.7, 1.7) translateX(12vw);
    z-index: 1;
}
.display-1 {
    font-size: var(--global--font-size-xxxl);
}
.display-2 {
    font-size: var(--global--font-size-xxl);
}
.display-3 {
    font-size: var(--global--font-size-xl);
}
.display-4 {
    font-size: var(--global--font-size-lg);
}
.display-5 {
    font-size: var(--global--font-size-xs);
}

.text-white {
    color: var(--white) !important;
}
.padding-left {
    padding-left: 15px;
}
.padding-right {
    padding-right: 15px;
}
.margin-top {
    margin-top: 15px !important;
}
.margin-rigth {
    margin-right: 15px !important;
}
.margin-bottom {
    margin-bottom: 15px !important;
}
.margin-top-md {
    margin-top: 3rem !important;
}
.margin-top-lg {
    margin-top: 5rem !important;
}
.margin-top-xl {
    margin-top: 7rem !important;
}
.margin-bottom-sm {
    margin-bottom: 1.5rem !important;
}
.margin-bottom-md {
    margin-bottom: 3rem !important;
}
.margin-bottom-lg {
    margin-bottom: 5rem !important;
}
.margin-bottom-xl {
    margin-bottom: 7rem !important;
}
.margin-left {
    margin-left: 15px !important;
}
.text-center {
    text-align: center !important;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.d-flex {
    display: flex !important;
}
.align-items-center {
    align-items: center !important;
}
.justify-content-center {
    justify-content: center !important;
}
.d-none {
    display: none !important;
}
.d-block {
    display: block !important;
}
/*----------------------------------
        styles component : Header
------------------------------------*/
.header {
    grid-area: header;

    position: relative;
    background-image: linear-gradient(
        90deg,
        var(--very_light_red_gradiant),
        var(--light_red_gradiant)
    );
    border-radius: 0 0 0 70px;
    overflow: hidden;
}
/*----------------------------------
        styles component : Logo
------------------------------------*/
.logo {
    font-weight: 700;
    margin-right: 20px;
    display: block;
}
.logo__img {
    width: 70px;
}
/*----------------------------------
        styles component : Navbar
------------------------------------*/
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    padding-top: 2.5rem;
    z-index: 3;
}
.navbar__container-nav {
    display: inline-flex;
    align-items: center;
}
.navbar__menu-items {
    display: flex;
    list-style: none;
    color: var(--white);
}
.navbar__menu-item {
    position: relative;
    text-decoration: none;
}
.navbar__menu-link {
    text-decoration: none;
    display: inline-block;
    color: var(--white);
    margin: 0 1.2rem;
    font-weight: 600;
}
.navbar__menu-link:hover {
    text-decoration: underline;
}
.navbar-responsive__menu-link:focus > .icon--arrow-dark,
.navbar__menu-link:focus > .icon--arrow-light {
    transform: rotate(180deg);
    transition: all ease 0.2s;
}
.navbar__menu-link--submenu {
    color: var(--black);
    font-weight: 500;
}
.navbar__menu-link--submenu:hover {
    font-weight: 700;
    text-decoration: none;
}
.navbar__menu-link--showSubmenu:focus + .navbar__submenu {
    opacity: 1;
    transform: translateY(0px);
}
.navbar__submenu {
    position: absolute;
    left: 0;
    top: 40px;
    list-style: none;
    opacity: 0;
    background-color: var(--white);
    min-width: 160px;
    padding: 25px 0;
    border-radius: 6px;
    transition: all ease-in 0.2s;
    transform: translateY(-10px);
}
/*----------------------------------
        styles component : Navbar responsive
------------------------------------*/
.navbar-responsive {
    position: absolute;
    opacity: 0;
    width: 100%;
    max-width: 340px;
    margin: auto;
    top: 27%;
    left: 0;
    transform: translate(-50%, -15%);
    font-weight: 600;
    background-color: var(--white);
    padding: 30px 20px;
    border-radius: 6px;
    transition: 0.6s ease-in-out all;
    -webkit-box-shadow: 1px 3px 7px 3px rgba(116, 116, 116, 0.2);
    box-shadow: 1px 3px 7px 3px rgb(116 116 116 / 20%);
    z-index: 10;
}
.navbar-responsive--visible {
    left: 50%;
    opacity: 1;
}
.navbar-responsive__menu-item {
    margin-bottom: 15px;
}
.navbar-responsive__menu-items {
    list-style: none;
    text-align: center;
}
.navbar-responsive__submenu {
    list-style: none;
    background-color: var(--grey_light);
    padding: 20px 15px;
    border-radius: 6px;
    transition: all ease-in 0.2s;
}
.navbar-responsive__menu-link {
    display: inline-block;
    text-decoration: none;
    color: var(--very_dark_blue);
}
.navbar-responsive__menu-link--submenu {
}
.navbar-responsive__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar-responsive__menu-link--showSubmenu:focus + .navbar-responsive__submenu {
    height: auto;
    padding: auto;
    margin: 20px 0;
    overflow: auto;
}
.navbar-responsive__menu-link--showSubmenu:not(:focus)
    + .navbar-responsive__submenu {
    height: 0;
    padding: 0;
    overflow: hidden;
}
/*----------------------------------
        styles component : Separate
------------------------------------*/
.separate {
    margin-top: 15px;
    height: 2px;
    border: 0;
    background-color: #e4e4e4;
}
/*----------------------------------
        styles component : Logo
------------------------------------*/
.icon {
    display: inline-block;
    width: 10px;
    height: 7px;
    margin-left: 5px;
}
.icon--2x {
    width: 20px;
    height: 20px;
}
.icon--3x {
    width: 30px;
    height: 18px;
}
.icon--4x {
    width: 70px;
    height: 70px;
}
.icon--arrow-light {
    background-image: url(../images/icon-arrow-light.svg);
}
.icon--arrow-dark {
    background-image: url(../images/icon-arrow-dark.svg);
}
.icon--hamburger {
    background-image: url(../images/icon-hamburger.svg);
}
/*----------------------------------
    styles component : icon-burguer
------------------------------------*/
.icon-burguer {
    width: 30px;
    height: 2px;
    background-color: var(--white);
    border-radius: 5px;

    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.icon-burguer::before {
    transform: translateY(-10px);
}
.icon-burguer::after {
    transform: translateY(10px);
}
.icon-burguer::before,
.icon-burguer::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--white);
    border-radius: 5px;

    transition: all 0.5s ease-in-out;
}
.button--navbar.open .icon-burguer {
    background-color: transparent;
}
.button--navbar.open .icon-burguer::before {
    transform: translateY(0px) rotate(45deg);
}
.button--navbar.open .icon-burguer::after {
    transform: translateY(0px) rotate(135deg);
}
/*--------------------------------------
    styles component : Banner main
----------------------------------------*/

.banner-main {
    position: relative;
    min-height: 300px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    z-index: 2;
}
/*--------------------------------------
        styles component : Title
----------------------------------------*/
.title {
    font-weight: 600;
    color: var(--very_dark_blue);
}

/*--------------------------------------
        styles component : Paragrah
----------------------------------------*/

.paragrah {
    font-weight: 300;
    font-family: var(--global--font-secundary);
    color: var(--dark_grayish_blue);
    font-size: var(--global--font-size-xs);
    line-height: 1.6;
}
/*------------------------------------
        styles component : button
------------------------------------*/

.button {
    min-width: 120px;
    padding: 0.8rem 0.5rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    border-radius: 35px;
    cursor: pointer;
    font-size: var(--global--font-size-xs);
    transition: all ease 0.3s;
}

.button--level2 {
    background-color: var(--white);
    color: var(--light_red);
}
.button--level2:hover {
    background-color: var(--very_light_red);
    color: var(--white);
}
.button--level3 {
    border: solid 1px var(--white);
}
.button--level4 {
    background-color: var(--white);
    color: var(--very_dark_blue);
    padding: 0;
}
.button--level5 {
    background-image: linear-gradient(
        90deg,
        var(--very_light_red_gradiant),
        var(--light_red_gradiant)
    );
    color: var(--white);
}
.button--navbar {
    background-color: transparent;
    border: none;
    min-width: 0;
    width: 33px;
    height: 30px;
    padding: 0.2rem;
    border-radius: 0;
}
/*----------------------------------
        styles component : image
------------------------------------*/
.img {
    width: 100%;
}
.img__phone {
    max-width: 380px;
    transform: translate(-30px, 11px);
}
/*----------------------------------
        styles component : Section
------------------------------------*/

.section {
    grid-area: section;
}

.section__content {
    display: flex;
    align-items: center;
}
.section__content--phone {
    height: 280px;
    background-image: url(../images/bg-pattern-circles.svg),
        linear-gradient(
            90deg,
            var(--Very_dark_gray_blue),
            var(--Very_dark_desaturated_blue)
        );
    background-position-y: -167px;
    background-size: cover;
    color: var(--white);
    border-radius: 0 70px 0 70px;
}
.section__text {
    width: 50%;
}
.section__img {
    width: 50%;
    transform: scale(1.2) translateX(20%);
}
.section__img--editor-mobile {
    display: none;
}
.section__img--laptop-mobile {
    display: none;
}
.section__img--laptop-desktop {
    transform: scale(1.2) translateX(-20%);
}
/*-------------------------------------
        styles component : Footer-site
---------------------------------------*/

.footer-site {
    grid-area: footer;
    background-color: var(--dark_black_blue);
    border-radius: 0 70px 0 0;
}
.footer-site__container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.footer-site__column {
    display: flex;
    flex-flow: column wrap;
    font-family: var(--global--font-secundary);
}
.footer-side__title {
    color: var(--white);
    font-weight: 500;
}
.footer-site__link {
    color: var(--white);
    text-decoration: none;
    font-size: var(--global--font-size-xs);
    margin-bottom: 0.7rem;
}
.footer-site__link:hover {
    text-decoration: underline;
}
/*-------------------------------------
        Brealpoints screen
---------------------------------------*/
/*screen tablet */
@media (max-width: 768px) {
    /*General styles */

    .text-center-md {
        text-align: center;
    }
    .padding-top-md {
        padding-top: 2rem !important;
    }
    .margin-top-md-lg {
        margin-top: 2rem !important;
    }
    .margin-bottom-md-lg {
        margin-bottom: 2rem !important;
    }
    .flex-md-column {
        flex-direction: column;
        justify-content: center;
    }
    .order-md-0 {
        order: 0;
    }
    .order-md-1 {
        order: 1;
    }
    .d-md-none {
        display: none !important;
    }
    .d-md-block {
        display: block !important;
    }

    /*Title component styles */

    .title {
        line-height: 1.1;
    }

    /*section component styles */

    .section__content {
        flex-flow: column wrap;
    }
    .section__content--phone {
        min-height: 370px;
        margin-top: 9rem !important;
    }
    .section__text {
        width: 100%;
        margin: auto;
        padding: 0 15px;
    }
    .section__img {
        transform: none;
        width: 100%;
        max-width: 413px;
    }
    .section__img--editor-mobile {
        display: block;
    }
    .section__img--laptop-mobile {
        display: block;
    }
    .section__img--editor-desktop {
        display: none;
    }
    .section__img--laptop-desktop {
        display: none;
    }

    /*Img component styles */

    .img__phone {
        max-width: 210px;
        transform: none;
        margin-top: -100px;
    }
}

/*screen phone*/
@media (max-width: 375px) {
    .footer-site__container {
        flex-direction: column;
        align-items: center;

        text-align: center;
    }
    .logo {
        margin-right: 0;
    }
    .logo__link {
        display: block;
    }
}
/*-------------------------------------
            Keyframes
---------------------------------------*/
