$primaryOrange: hsl(35, 77%, 62%);
$primaryRed: hsl(5, 85%, 63%);
$secondaryOff-White: hsl(36, 100%, 99%);
$secondaryGrayishBlue: hsl(233, 8%, 79%);
$secondaryDarkBlue: hsl(236, 13%, 42%);
$secondaryVeryDarkBlue: hsl(240, 100%, 5%);

/*---TYPOGRAPHY---*/

html {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}
