@import "./variables";
html {
  font-size: 14px;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: $primaryCream;
}

h1 {
  margin: 0;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 92vw;
  height: 92vh;
  @media only screen and (min-width: 768px) {
    width: 42%;
    height: 57vh;
    flex-direction: row;
  }
}
.card__img {
  height: 43%;
  width: 100%;
  background-image: url(../images/image-product-mobile.jpg);
  background-size: cover;
  border-radius: 10px 10px 0 0;
  @media only screen and (min-width: 768px) {
    background-image: url(../images/image-product-desktop.jpg);
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 50%;
    flex-shrink: 0;
    border-radius: 10px 0 0 10px;
  }
}
.card__body {
  background-color: $supportWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7%;
  height: 57%;
  border-radius: 0 0 10px 10px;
  @media only screen and (min-width: 768px) {
    width: auto;
    height: auto;
    border-radius: 0 10px 10px 0;
    padding: 2.25rem;
  }
}
.card__subtitle {
  font-family: Montserrat;
  color: $supportGrayishBlue;
  font-size: 0.8rem;
  letter-spacing: 0.4rem;
}

.card__title {
  font-family: Fraunces;
  color: $supportDarkBlue;
  line-height: 2.4rem;
  font-size: 1.15rem;
}
.card__text {
  font-size: 1.02rem;
  line-height: 1.6rem;
  font-family: Montserrat;
  color: $supportGrayishBlue;
}
.card__prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Fraunces;
  font-size: 1.2rem;
  color: $primaryCyan;
  h1,
  span {
    width: 50%;
  }
  span {
    padding-left: 10px;
    font-family: Montserrat;
    color: $supportGrayishBlue;
    font-size: 0.9rem;
    text-decoration: line-through;
  }
  @media only screen and (min-width: 768px) {
    font-size: 1.1rem;
  }
}
.card__button {
  font-family: montserrat;
  font-weight: 700;
  border-radius: 7.5px;
  height: 14%;
  border: none;
  background-color: $primaryCyan;
  color: $supportWhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    max-width: max-content;
    padding-right: 10px;
  }
  p {
    font-weight: 700;
    display: inline-block;
    width: auto;
  }
  &:hover {
    cursor: pointer;
    background-color: $hoverGreen;
  }
  @media only screen and (min-width: 768px) {
    height: 12%;
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  color: gray;
  a {
    font-style: normal;
    text-decoration: none;
    &:visited {
      color: #0000ee;
    }
  }
}
