@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;

    margin: 0px;
    padding: 0px;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
}

.card {
    max-width: 300px;
    border-radius: 1rem;
    background-color: white;
}

.card__aside {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.card__aside--secondary {
    margin: 0.5rem;
}

.card__image {
    max-width: 100%;
    border-radius: 1em;
    margin-bottom: 1em;
}

.card__heading {
    font-weight: 700;
    margin-bottom: 1em;
    color: hsl(218, 44%, 22%);
    font-size: 1.4rem;
    text-align: center;
}

.card__text {
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-weight: 400;
}

.attribution {
    position: fixed;
    max-width: 80vw;
    text-align: center;
    bottom: 0px;
}
