@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;

    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(226, 34%, 14%);
}

/* main box */
.main-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 70vh;
    transform: translate(-50%, -50%);
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.75em;
    padding: 1.5rem;
}

/* zawartość karty*/

.img-wrapper {
    position: relative;
}

.img-wrapper > a {
    height: 100%;
    width: 100%;
}
.img-wrapper > a > img {
    max-width: 100%;
    height: 100%;
}

.overlay-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    z-index: 1;
}

.overlay-div:hover {
    opacity: 1;
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsla(178, 100%, 50%, 0.5);
    border-radius: 0.5em;
}

.overlay-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.overlay-img > img:hover {
    opacity: 1;
}

.wrapper-box {
    display: flex;
}
.wrapper-box > div {
    width: 50%;
}

.small-icon {
    padding-right: 0.5rem;
}
.value-box {
    display: flex;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    font-size: 0.5rem;
}

.value-box > h5 {
    align-self: center;
    font-size: 00.75rem;
}
.value-box > img {
    object-fit: contain;
}
.time-box {
    display: flex;
    justify-content: right;
    color: hsl(215, 51%, 70%);
}
.time-box > img {
    object-fit: contain;
}
.time-left {
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    font-size: 00.75em;
    align-self: center;
}

img {
    border-radius: 0.5em;
}

.creator-img {
    width: 1.5rem;
    border: white solid 1px;
    border-radius: 50%;
    height: auto;
    margin-right: 0.75rem;
}
.creator-box {
    display: flex;
}

.creator:hover {
    color: hsl(178, 100%, 50%);
}

/* typografia */

span {
    color: white;
}

hr {
    color: hsl(215, 32%, 27%);
    border: solid 1px;
}

h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.25em;
}
h2:hover {
    color: hsl(178, 100%, 50%);
}

p {
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

/*media queries*/
@media screen and (max-width: 375px) {
    .main-box {
        width: 70vw;
    }
}

@media screen and (max-width: 768px) {
    * {
        font-size: 18px;
    }

    .main-box {
        width: 262px;
    }
}

@media screen and (min-width: 1920px) {
    * {
        font-size: 22px;
    }

    .main-box {
        min-width: 22.5vw;
    }
}
